/* ------------------------ NAVBAR ------------------------ */

.navbar {
    width: calc(100vw - 80px);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 24px;
    color: white;
    z-index: 1;
    background-color: var(--grigioscuro);
}

.navbar .titolo {
    text-decoration: none;
    color: white;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    opacity: 80%;
    color: white;
}

/* ------------------------ SFONDO ------------------------ */

.background {
    padding-top: 80px;
    background-image: url('../assets/img/common/gradient.gif');
    height: 350px;
    width: calc(100vw - 80px);
    background-size: cover;
    background-position: center;
    margin: auto;
}

/* ------------------------ CONTENT ------------------------ */

.content {
    padding-top: 30px;
    width: calc(100vw - 80px);
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
    margin: auto;
}

.sinistra {
    width: 100%;
    height: 600px;
    background-color: var(--grigiochiaro);
}

.destra {
    width: 550px;
    height: 600px;
    background-color: var(--grigiochiaro);
  
}

/* ------------------------ SINISTRA ------------------------ */


/* ------------------------ DESTRA ------------------------ */




/* ------------------------ PIE ------------------------ */

.pie {
    display: block;
    margin: 400px auto 0 auto;
    max-width: 1810px;
    width: calc(100vw - 80px);
    height: 350px;
    background-color: var(--azzurro-chiaro);
    opacity: 90%;
}

.pie div {
    background-color: none;
}

.pie-box {
    width: 90%;
    margin: 0 5% 0 5%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pie .nome-sito,
.pie .argomenti,
.pie .social,
.pie .pagine,
.pie .collegamenti,
.pie .cerca {
    height: 89%;
    display: inline-block;
    color: white;
    line-height: 25px;
    background-color: none;
    border: none;
}

.pie .argomenti,
.pie .social,
.pie .pagine,
.pie .collegamenti {
    white-space: nowrap;
}

.pie .argomenti,
.pie .social,
.pie .pagine {
    margin-right: 45px;
}

.pie .nome-sito {
    margin-right: 90px;
}

.pie .nome-sito div,
.pie .argomenti div,
.pie .social a,
.pie .pagine a,
.pie .collegamenti a,
.pie .cerca div {
    font-size: 18px;
}

.pie .social a,
.pie .pagine a,
.pie .collegamenti a {
    display: block;
    text-decoration: none;
    color: white;
}

.pie .inmymindd {
    font-size: 31px;
    color: white;
}

.pie .sottotitolo {
    position: relative;
    font-size: 18px;
}

.pie .nome-sito {
    line-height: 27px;
    width: 45%;
}

.pie .titolo {
    font-size: 23px;
}

.copyright {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bianco-sporco-modnotte);
}

.pie .cerca {
    width: 30%;
    margin-left: 50px;
}

.pie .barra-cerca {
    width: calc(100% - (14px + 18px));
    border: 0px hidden #ccc;
    font-family: 'pp_mondwestregular';
    outline: none;
    background-color: white;
    padding: 14px 14px 14px 18px;
    color: var(--grigio-scuro);
    font-size: 18px;
}

::placeholder {
    color: var(--grigio-scuro);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--grigio-scuro);
}


.pie .avvisi-box {
    height: 60vh;
    width: 100vw;
}

.pie .avvisi {
    display: block;
    height: 200px;
    width: 50%;
    background-color: rgb(227, 227, 227);
    padding: 70px;
    margin: 0 auto 0 auto;
}

.pie .risposta {
    height: 60px;
    display: grid;
    grid-template-columns: 75% 24%;
    gap: 1%;
    padding: 50px 0 0 0;
}

.pie .domanda {
    font-size: 30px;
}

.pie .mail {
    font-size: 19px;
    padding: 18px;
    background-color: white;
}

.pie .copia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 156, 156);
    font-size: 20px;
}














/* ------------------------ HOVER ------------------------ */

.menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}