/* ------------------------ NAVBAR ------------------------ */

.navbar {
    position: absolute;
    list-style-type: none;
    width: 100vw;
    height: fit-content;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-size: 21px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.home,
.work,
.about,
.blog {
    text-decoration: none;
    color: black;
    opacity: 80%;
}

/* ------------------------ BACKGROUND ------------------------ */

.background {
    background-image: url('../assets/img/home/clouds.gif');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 230px;
}

.background p {
    position: absolute;
    opacity: 80%;
}

/* ------------------------ QUESTIONS ------------------------ */

.questions {
    padding: 200px 0 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: fit-content;
}

.question {
    display: flex;
    flex-direction: column;
    width: 800px;
    line-height: 25px;
}

.question .top {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    background-color: var(--grigiochiaro);
    color: var(--bianco);
}

.question .text {
    max-height: 0;
    overflow: hidden;
    transition: all 0.6s;
}

.question p {
    font-size: 19px;
    color: var(--bianco);
    opacity: 60%;
    padding: 35px 60px 35px 60px;
}

.question p a {
    color: var(--bianco);
}

/* ------------------------ MAIL ------------------------ */

.avvisi-box {
    width: 900px;
    background-color: white;
    margin: 100px auto 15px auto;
}

.domanda {
    padding: 60px 40px 0 60px;
    background-color: var(--grigio-scuro2-modenotte);
    color: white;
    font-size: 24px;
}

.risposta {
    display: grid;
    grid-template-columns: calc(70% - 10px) 30%;
    column-gap: 10px;
    padding: 30px 60px 60px 60px;
    height: 70px;
    line-height: 70px;
    background-color: var(--grigio-scuro2-modenotte);
}

.mail {
    background-color: var(--bianco-sporco-modnotte);
    color: var(--grigio-scuro-modnotte);
    font-size: 19px;
    padding: 0 0 0 30px;
}

.copia {
    background-color: var(--grigio-scuro-modnotte);
    text-align: center;
    color: white;
    font-size: 19px;
}


/* ------------------------ PAYPAL ------------------------ */

.avvisi-box2 {
    width: 900px;
    background-color: white;
    margin: 0 auto 0 auto;
}

.domanda2 {
    padding: 60px 60px 0 60px;
    background-color: var(--grigio-scuro2-modenotte);
    color: white;
    font-size: 24px;
}

.risposta2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 30px 60px 60px 60px;
    height: 100px;
    line-height: 100px;
    background-color: var(--grigio-scuro2-modenotte);
}

.mail2 {
    background-color: var(--grigio-scuro-modnotte);
    color: var(--bianco-sporco-modnotte);
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: var(--grigio-scuro-modnotte);
    font-family: 'pp_mondwestregular';
    font-size: 25px;
    padding: 0 40px 0 40px;
    
}

.mail2:hover span {
    display: none;
}

.mail2:hover::before {
    content: 'IT15Y36772223000EM000695816';
    color: var(--bianco-sporco-modnotte);
    font-size: 19px;
}

.copia2 {
    background-color: var(--grigio-scuro-modnotte);
    text-align: center;
    color: white;
    font-size: 33px;
    text-decoration: none;
}

.copia2 {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="28" font-size="15">❤️</text><path d="M0,2 L0,0 L2,0" fill="none" /></svg>'), auto;
}





.copia3 {
    background-color: var(--grigio-scuro-modnotte);
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
   
}












/* ------------------------ PIE ------------------------ */

.pie {
    display: block;
    margin: 200px auto 0 auto;
    max-width: 1800px;
    width: calc(100vw - 80px);
    height: 350px;
    background-color: var(--bs);
    opacity: 90%;
}

.pie_left {
    height: 350px;
    float: right;
}

@media (max-width: 1440px) {
    .pie .cerca {
        display: none;
    }
}

@media (max-width: 1200px) {
    .pie_left {
        display: none;
    }

    .pie .argomenti,
    .pie .social,
    .pie .pagine,
    .pie .privacy {
        display: none;
    }
}

@media (min-width: 1200px) {
    .pie .argomenti {
        text-align: left;
        width: 175px;
        height: calc(100% - 30px);
        display: inline;
        color: white;
        padding: 40px 0 0 0px;
        white-space: nowrap;
        float: left;
    }

    .pie .social {
        text-align: left;
        width: 125px;
        height: calc(100% - 30px);
        display: inline;
        color: white;
        padding: 40px 0 0 0px;
        white-space: nowrap;
        float: left;
    }
    
    .pie .pagine {
        text-align: left;
        width: 100px;
        height: calc(100% - 30px);
        display: inline;
        color: white;
        padding: 40px 0 0 0px;
        white-space: nowrap;
        float: left;
    }
    
    .pie .privacy {
    text-align: left;
    width: 120px;
    height: calc(100% - 30px);
    display: inline;
    color: white;
    padding: 40px 0 0 0px;
    white-space: nowrap;
    float: left;
}
}

@media (min-width: 1440px) {
    .pie .cerca {
        white-space: nowrap;
        display: inline;
        height: calc(100% - 30px);
        color: white;
        padding: 40px 0 0 50px;
        width: 250px;
        float: right;
    }
}

.pie-box {
    width: calc(100% - 100px);
    margin: auto;
    height: 100%;
}

.pie .pagine .link {
    display: block;
    color: white;
    text-decoration: none;
}

.pie .social .link {
    display: block;
    color: white;
    text-decoration: none;
}

.pie .privacy .link {
    display: block;
    color: white;
}

.cerca .barra-cerca {
    width: 100%;
}

.pie .pagine .titolo{
    font-size: 23px;
}

.pie .pagine .link{
    font-size: 18px;
    line-height: 25px;
}

.nome-sito .titolo {
    font-size: 31px;
}

.cerca .titolo {
    font-size: 23px;
}

.nome-sito .sottotitolo {
    font-size: 18px;
    line-height: 25px;
}

.argomenti div {
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline 1.3px;
}

.social a {
    font-size: 18px;
    line-height: 25px;
}

.privacy a {
    font-size: 18px;
    line-height: 25px;
}

.argomenti .titolo {
    font-size: 23px;
}

.social .titolo {
    font-size: 23px;
}

.privacy .titolo {
    font-size: 23px;
}

.pie .nome-sito {
    display: block;
    height: calc(100% - 30px);
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 90px 0 0;
    color: white;
    float: left;
}

.pie .barra-cerca {
    width: calc(100% - 14px - 18px);
    border: none;
    outline: none;
    font-family: 'pp_mondwestregular';
    background-color: white;
    padding: 13px 14px 13px 18px;
    color: var(--grigio-scuro);
    font-size: 18px;
}

::placeholder {
    color: var(--grigio-scuro);
    opacity: 1; /* Firefox */
}
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--grigio-scuro);
}

  .copyright {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bianco-sporco-modnotte);
}














/* ------------------------ HOVER ------------------------ */

.home:hover span,
.work:hover span,
.about:hover span,
.blog:hover span{
    display: none;
}

.home:hover::before{
    content: 'h0m3';
}

.work:hover::before{
    content: 'w0rK';
}

.about:hover::before{
    content: '4b0ut';
}

.blog:hover:before{
    content: 'bL0g';
}

.home:hover,
.about:hover{
    transform: rotate(8deg);
}

.work:hover,
.blog:hover {
    transform: rotate(-8deg);
}

.question:hover .top~div.text {
    transition: all 0.6s;
    max-height: 400px;
}
