/* ------------------------ TUTTI GLI ELEMENTI ------------------------ */

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

/* ------------------------ BODY ------------------------ */

body {
    font-family: 'pp_mondwestregular';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--grigio-scuro-modnotte);
}

/* ------------------------ collegamento FONT ------------------------ */

@font-face {
    font-family: 'pp_mondwestregular';
    src: url('ppmondwest.woff2') format('woff2'),
    url('ppmondwest.woff') format('woff'),
    url('ppmondwest.otf') format('otf');
    font-style: normal;
}

/* ------------------------ LIGHT mode ------------------------ */

:root  {
    --grigio-chiaro: #E3E3E3;
    --grigio-scuro: #B7B7B7;
    --azzurro-chiaro: #6699CC;
}

/* ------------------------ DARK mode ------------------------ */

:root  {
    --grigio-scuro-modnotte: #181A1B;
    --grigio-chiaro-modnotte: #AAA398;
    --bianco-sporco-modnotte: #E8E6E3;
    --grigio-scuro2-modnotte: #282B2D;
}

/* ------------------------ NAVBAR ------------------------ */

.navbar {
    width: 1810px;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navbar .destra .profilo {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(Website/Server/Archivio/Vector/profile.svg);
    background-color: none;
    float: right;
    margin: 0 20px 0 0;
}

.navbar .sinistra {
    display: flex;
    align-items: center;
    font-size: 23px;
    margin: 0 0 0 5px;
    color: var(--bianco-sporco-modnotte);
}

.navbar2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-color: none;
/*  border: solid red 3px; */
}

.home,
.work,
.about {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
}

.blog- {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 5px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
    padding: 20px 5px 20px 30px;
}

.home:hover,
.work:hover,
.about:hover {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
    transform: rotate(3deg);
}

.blog-:hover {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 5px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
    transform: rotate(3deg);
}

/* ------------------------ SFONDO ------------------------ */

.sfondo {
    width: 1810px;
    height: 300px;
    background-image: url(anime.gif);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ------------------------ PAGINA ------------------------ */

.pagina {
    width: 1810px;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% calc(75% - 30px);
    gap: 30px;
    margin: 30px auto 0 auto;
}

.pagina .sinistra,
.pagina .destra {
    width: 100%;
    height: 100%;
    background-color: none;
}

.pagina .sinistra .sezioni {
    width: calc(100% - 4.6px);
    height: 600px;
    background-color: var(--grigio-scuro2-modnotte);
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.3px;
    padding: 2.3px;
}

.pagina .sinistra .sezioni .nome{
    display: flex;
    position: relative;
    background-color: var(--grigio-scuro-modnotte);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--bianco-sporco-modnotte);
    text-decoration: none;
}

.pagina .sinistra .sezioni .nome1 {
    display: flex;
    position: relative;
    background-color: var(--grigio-scuro2-modnotte);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--bianco-sporco-modnotte);
    text-decoration: none;
}

.pagina .destra .titolo {
    font-size: 50px;
    background-color: none;
    margin: 0 0 30px 0;
    color: var(--bianco-sporco-modnotte);
}

.pagina .destra .post {
    display: block;
    padding: 30px;
    background-color: var(--grigio-scuro2-modnotte);
    margin: 0 0 15px 0;
    font-size: 20px;
    color: var(--bianco-sporco-modnotte);
}






.sinistra {
    width: 100%;
    height: 100%;
    background-color: none;
    padding: 0px 0px 0px 0px;
}


.articoli-box {
    width: 100%;
    height: 1560px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}



.blog-titolo {
    display: flex;
    align-items: center;
    width: calc(100% - 5px);
    height: 130px;
    padding: 0 0 0 5px;
    position: relative;
    top: 4px;
    background-color: none;
    font-size: 50px;
    color: var(--bianco-sporco-modnotte);
}

.articolo {
    position: relative;
    background-color: #282b2d;
    width: 100%;
    height: 90px;
    margin: 14px 0 0 0;
    overflow: hidden;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0 100%, 0 0);
    transition: all 0.5s ease-in-out;
    scroll-snap-align: start;
}

.articolo:hover {
    clip-path: polygon( calc(100% - 30px) 0%, 100% 30px, 100% 100%, 0 100%, 0 0);
    transition: all 0.5s ease-in-out;
}

.articolo .nome-box {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    position: relative;
    top: 2px;
    height: 100%;
    width: calc(50% - 30px);
    padding: 0 0 0 30px;
    font-size: 20px;
    background-color: none;
}

.articolo .nome-box .nome{
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
}

.articolo .data-box {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    position: relative;
    top: 2px;
    height: 100%;
    width: calc(50% - 30px);
    padding: 0 30px 0 0;
    font-size: 20px;
    color: rgb(152, 152, 152);
    background-color: none;
    transition: all 0.5s ease-in-out;
}

.articolo:hover .data-box {
    width: calc(50% - 60px);
    padding: 0 60px 0 0;
    transition: all 0.5s ease-in-out;
}

.articolo .angoletto {
    position: absolute;
    z-index: 1;
    top: -30px;
    right: -30px;
    height: 30px;
    width: 30px;
    transition: all 0.5s ease-in-out;
}

.articolo:hover .angoletto {
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}

