/* ------------------------ SETTINGS ------------------------ */

* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'pp_mondwestregular';
    src: url('PPMondwest-Regular.otf');
    font-style: normal;
    font-weight: normal;

}

body {
    font-family: 'pp_mondwestregular';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto 0 auto;
    /* background-color: white; */
    background-color: var(--grigio-scuro-modnotte);
    max-width: 1810px;
    height: 200vh;
}

body::-webkit-scrollbar {
    display: none;
}



:root {
    --grigio-chiaro: rgb(227, 227, 227);
    --grigio-scuro: rgb(183, 183, 183);
    --azzurro-chiaro: #6699CC;
    --grigio-scuro-modnotte: rgb(24, 26, 27);
    --grigio-chiaro-modnotte: #AAA398;
    --bianco-sporco-modnotte: rgb(232, 230, 227);
    --grigio-scuro2-modenotte: #282B2D;

  }

  /* ------------------------ NAVBAR ------------------------ */

.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: none;
    height: 80px;
    background-color: none;
}

.navbar2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-color: none;
/*     border: solid red 3px;
 */}

.home,
.work,
.about {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
}

.blog- {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 5px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
}

.blog- {
    padding: 20px 5px 20px 30px;
}

.home:hover,
.work:hover,
.about:hover {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
    transform: rotate(3deg);
}

.blog-:hover {
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px 5px 20px 30px;
    text-decoration: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    background-color: none;
    transform: rotate(3deg);
}

.navbar .sinistra {
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    color: black;
    display: inline-block;
    align-items: center;
    height: 100%;
    background-color: none;
}

.inmymind {
    width: calc(100% - 5px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: auto 0 auto 5px;
    text-decoration: none;
    font-size: 24px;
    background-color: none;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
}

.riga {
    margin: 0 auto 0 auto;
    width: 1900px;
    background-color: black;
    height: 1px;
    position: absolute;
    top: 70px;
    opacity: 10%;
}

/* ------------------------ IMMAGINE ------------------------ */

.paradiso-box {
    position: relative;
    /* background-image: url(paradise.png); */
    background-image: url(gradient.gif);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto 0 auto; 
    background-color: none;
    overflow: hidden;
    background-color: red;
}


/* ------------------------ divisione ------------------------ */
.blog-effettivo{
    position: relative;
    top: -255px;
    width: 1050px;
    background-color: none;
    margin: 50px auto 0 auto;
    background-color: var(--grigio-scuro-modnotte);
    padding: 40px 60px 60px 60px;
}

.sinistra {
    width: 100%;
    height: 100%;
    background-color: none;
    padding: 0px 0px 0px 0px;
}

.destra {
    width: 100%;
    height: 100vh;
    background-color: none;
}




/* ------------------------ DESTRA ------------------------ */

.destra {
    width: 100%;
    height: 1000px;
}


.argomenti-articoli {
    width: 100%;
    background-color: var(--grigio-chiaro);
    display: grid;
    align-items: center;
    vertical-align: auto;
}

.argomenti-box{
    padding: 40px 0 40px 0;
}

.argomenti-articoli .titolo {
    display: block;
    font-size: 20px;
    width: calc(100% - 90px);
    margin: 0 auto 20px auto;
    align-items: center;
}

.argomenti-articoli .elenco {
    width: calc(100% - 90px);
    margin: 0 auto 0 auto;
    background-color: none;
}

.argomenti-articoli .elenco div {
    display: inline-block;
    font-size: 1.1rem;
    padding: 12px 18px 12px 18px;
    background-color: white;
    margin: 0 5px 5px 0;
}

.descrizione-blog {
    height: fit-content;
    width: calc(100% - 55*2);
    padding: 55px;
    margin: 15px 0 0 0;
    background-color: var(--grigio-chiaro);
}

.descrizione-blog .titolo {
    font-size: 23px;
}

.descrizione-blog .testo {
    font-size: 1.15rem;
    padding: 30px 0 0 0;
    hyphens: auto;
    color: rgb(102, 102, 102);
}



  /* ------------------------ sinistra ------------------------ */

  /* .dettagli{
    margin: 0 auto 0 auto;
    font-size: 1.3rem;
    color: #626262;
    display: inline-block;
  } */

  .art1 .titolo {
    background-color: none;
    font-size: 2.5rem;
    margin: 30px 0 23px 0;
    color: var(--bianco-sporco-modnotte);
  }

  .art1 .testo{
    background-color: none;
    font-size: 1.2rem;
    /* color: #626262; */
    color: var(--grigio-chiaro-modnotte);
    line-height: 26px;
  }

  .art1 .foto {
    background-color: none;
    width: 100%;
    height: 450px;
    margin: 60px 0 60px 0;
    background-image: url(shadowCastig_v002_titled_GIF.gif);
    background-position: center;
    background-size: cover;
  }


  .torna-indietro {
    position: relative;
    left: 0px;
    display: inline-block;
    height: 43px;
    width: 43px;
    margin: 0 30px 0px 5px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    vertical-align: top;
  }

  .torna-indietro img {
    height: 100%;
    width: 100%;
  }

  .torna-indietro:hover {
    left: -20px;
    transition: all 0.3s ease-in-out;
  }



  .etichetta {
    display: inline-block;
    padding: 11px 29px 11px 29px;
    /* background-color: var(--grigio-chiaro); */
    background-color: var(--grigio-scuro2-modenotte);
    align-items: center;
    justify-content: center;
    margin: 0 6px 60px 0;
    border-radius: 0px;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    font-size: 1.2rem;
  }

  .dettagli {
    display: inline-block;
    padding: 11px 29px 11px 29px;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 0;
    border-radius: 0px;
    /* color: black; */
    color: var(--bianco-sporco-modnotte);
    font-size: 1.1rem;
    /* outline: 1.5px solid var(--grigio-chiaro);
    outline-offset: -1.5px; */
  }


