<!-- Link --> 
<link rel="stylesheet" href="../_assets/css/blog-header.css">
<link rel="stylesheet" href="../_assets/css/settings.css">

<!-- Content --> 
<div class="header">
  <a class="titolo" href="../index.html">inmymind</a>
  <div class="menu">
    <a class="home" href="../index.html"><span>Home</span></a>
    <a class="work" href="../about.html"><span>About</span></a>
    <a class="about" href="../works.html"><span>Work</span></a>
    <a class="blog" href="../blog.html"><span>Blog</span></a>
  </div>
</div>

