<!-- Link -->
<link rel="stylesheet" href="../_assets/css/footer.css" />
<link rel="stylesheet" href="../_assets/css/settings.css" />

<!-- Content -->
<div class="pie">
  <div class="nome-sito">
    <p class="titolo">inmymind</p>
    <br />
    <div class="sottotitolo">
      <p>
        Ma ora così parla il Signore, il tuo Creatore. Non temere, perché io ti
        ho riscattato, ti ho chiamato per nome, tu sei mio!
      </p>
      <p>Isaia 43:1</p>
    </div>
  </div>
  <div class="pie_right">
    <div class="argomenti">
      <p class="titolo">Topic</p>
      <br />
      <div>Viaggi Pazzi</div>
      <div>Esistenzialismo</div>
      <div>Crescita Personale</div>
      <div>Citazioni</div>
      <div>Nerd-amo</div>
      <div>Salute Mentale</div>
    </div>
    <div class="social">
      <p class="titolo">Social</p>
      <br />
      <a class="link" href="https://www.linkedin.com/in/alfredogiannetto"
        >Linkedin</a
      >
      <a
        class="link"
        href="https://open.spotify.com/user/gwj8p6tbu72tef8r6yz0ono4m?si=a918768a5be3443f"
        >Spotify</a
      >
      <a class="link" href="https://www.pinterest.it/alfredogiannetto"
        >Pinterest</a
      >
      <a class="link" href="https://www.vinted.it/member/87107740">Vinted</a>
      <a class="link" href="https://letterboxd.com/itsfreddie/">Letterboxd</a>
    </div>
    <div class="pagine">
      <p class="titolo">Menu</p>
      <br />
      <a class="link" href="https://www.linkedin.com/in/alfredogiannetto"
        >Home</a
      >
      <a class="link" href="https://www.reddit.com/user/UnlikelyMatch4750"
        >Work</a
      >
      <a class="link" href="https://www.pinterest.it/alfredogiannetto">About</a>
      <a class="link" href="https://www.artstation.com/alfredogiannetto"
        >Blog</a
      >
      <a class="link" href="https://www.artstation.com/alfredogiannetto"
        >Contact</a
      >
    </div>
    <div class="privacy">
      <p class="titolo">Privacy</p>
      <br />
      <a class="link">Home</a>
      <a class="link">Contact</a>
      <a class="link">Cookies Policy</a>
      <a class="link">Privacy Policy</a>
      <a class="link">Aggiorna Cookies</a>
      <a
        class="link"
        type="text/css"
        media="all"
        rel="stylesheet"
        href="../_assets/fonts/license/FFL.txt"
        >Fonts License</a
      >
    </div>
    <div class="cerca">
      <p class="titolo">Newsletter</p>
      <br />
      <input type="text" placeholder="Inserisci mail" class="barra-cerca" />
    </div>
  </div>
</div>

<div class="copyright">Copyright © 2025. All Rights Reserved.</div>
