<!-- Link -->
<link rel="stylesheet" href="../_assets/css/footer.css" />
<link rel="stylesheet" href="../_assets/css/settings.css" />

<!-- Content -->
<div class="pie">
  <p class="title">inmymind</p>
  <div class="pie-center">
    <div class="privacy">
      <a class="link">Home</a>
      <a class="link">Contact</a>
      <a class="link">Cookies Policy</a>
      <a class="link">Privacy Policy</a>
    </div>
  </div>
  <div class="social">
    <a class="link" id="spotify" target="_blank" href="https://open.spotify.com/user/gwj8p6tbu72tef8r6yz0ono4m?si=a918768a5be3443f"></a>
    <a class="link" id="pinterest" target="_blank" href="https://www.pinterest.it/alfredogiannetto"></a>
    <a class="link" id="vinted" target="_blank" href="https://www.vinted.it/member/87107740"></a>
    <a class="link" id="letterboxd" target="_blank" href="https://letterboxd.com/itsfreddie/"></a>
  </div>
</div>

<div class="copyright">Copyright © 2025. All Rights Reserved.</div>
