<!-- Link -->
<link rel="stylesheet" href="../_assets/css/footer.css" />
<link rel="stylesheet" href="../_assets/css/settings.css" />

<!-- Content -->
 <div class="content">
 <div class="coso">alfredogiannetto.com alfredogiannetto.com alfredogiannetto.com alfredogiannetto.com alfredogiannetto.com alfredogiannetto.com</div>
<div class="pie">
  <p class="title">inmymind</p>
  <div class="social">
    <a class="link" id="spotify" target="_blank" href="https://open.spotify.com/user/gwj8p6tbu72tef8r6yz0ono4m?si=a918768a5be3443f">Spotify</a>
    <a class="link" id="pinterest" target="_blank" href="https://www.pinterest.it/alfredogiannetto">Pinterest</a>
    <a class="link" id="letterboxd" target="_blank" href="https://letterboxd.com/itsfreddie/">Letterboxd</a>
  </div>
</div>
</div>

<div class="copyright">Copyright © 2025. All Rights Reserved.</div>
