.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    top: 150px;
    margin: auto;
    height: fit-content;
    gap: 55px;
}
@media screen and (max-width: 700px) {
    .content .text{
        width: calc(100vw - 80px) !important;
    }
  }
.content .text{
    font-size: 20px;
    width: 700px;
    margin: auto;
}
.text span{
    font-size: 19px;
    width: 700px;
    margin: auto;
}
.content .images{
    overflow-y: hidden;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: fit-content;
    width: 700px;
    margin: auto;
    position: relative;
    left: 0px;
    background-size: cover;
    background-position: center;
}
.content .img-box1{
    width: auto;
    border: solid 1px var(--line-green);
    padding: 10px;
    border-radius: 2px;
    height: fit-content;
    animation: scroll 100s linear infinite;
}
.content .img-box2{
    width: auto;
    border: solid 1px var(--line-green);
    padding: 10px;
    border-radius: 2px;
    height: fit-content;
    animation: scroll 100s linear infinite;
}
.content .img1{
    width: calc(100% -10px*2);
    padding: 10px;
    height: 400px;
    background-image: url(../img/about/img1.avif);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 900px) {
    .content .images{
        grid-template-columns: 1fr !important;
        width: calc(100vw - 80px) !important;
    }
    .content .img-box2{
        width: 100% !important;
        display: none !important;
    }
    .content .img2{
        height: 900px;
    }
  }
.content .img2{
    width: calc(100% -10px*2);
    padding: 10px;
    height: 400px;
    background-image: url(../img/about/img2.avif);
    background-size: cover;
    background-position: center;
}
.cv{
    color: white;
}