* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Gambetta";
  src: url("../fonts/gambetta-variable.woff") format("woff"),
    url("../fonts/gambetta-variable.woff2") format("woff2"),
    url("../fonts/gambetta-variable-italic.woff") format("woff"),
    url("../fonts/gambetta-variable-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Gambetta-Italic";
  src: url("../fonts/gambetta/Gambetta-LightItalic.woff") format("woff"),
    url("../fonts/gambetta/Gambetta-LightItalic.woff2") format("woff2");
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');
body {
  font-family: "Gambetta";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green);
  color: white;
}
:root{
  --green: #302721;
  --light-green: #3f332c;
  --line-green: #5f554f;
}
img{
  pointer-events: none;
}
